

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}

.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.header {
    font-weight: bold;
    margin: 2vh 0 2vh 0;
}
.searchbar{
    width: 70%;
    height: 3%;
    margin: 3%;
    border: 1px solid black;
    outline: none;
    border-radius: 2px;
   
}

.searchbar:focus, .searchbar:active {
    outline: none;
    border: 1px solid #57b4fb !important;
    background-color: #57b4fb47;
}



/* Container */

#page-container{
    width: 100vw;
    display: flex;
}
.category-container{
    padding: 3vw;
    width: 50vw;
    flex-direction: column;
    align-items: center;
}
#zurueckgeben-container{
    float: right;
}
#ausleihen-container {
    float: left;
}