h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
select {
  width: 105px;
  height: 20px;
  border: 1px solid #999;
  font-size: 13px;
  color: #1a7ebc;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  width: 100px;
  height: 20px;
  border: 1px solid #999;
  font-size: 13px;
  color: #1a7ebc;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}

button:hover {
  cursor: pointer;
}

label {
  width: 105px;
  margin: 0 0 5px 0;
  font-size: smaller;
}

.label-and-select {
  width: 105px;
  margin: 0px !important;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}
.center {
  justify-content: center;
}
.space-around {
  justify-content: space-around;
}
.header {
  font-weight: bold;
  margin: 4vh 1vw 4vh 1vw;
  text-align: center;
}

.filter-form {
  margin: 1px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-items: end;
  
}


/* Container */

#page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#error-container {
  display: flex;
  margin: 10px 0 0 0;
  padding: 5px;
  background-color: red;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}
#invisible-error-container {
  display: none;
}

#content-container {
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.category-container {
  padding: 3px;
  width: 80%;
  flex-direction: column;
  align-items: center;
}
#zurueckgeben-container {
  float: right;
}
#ausleihen-container {
  float: left;
}

#zurueckgeben-button {
  width: auto;
}

header {
  background-color: #a0a4a78a;
  height: 30px;
}
