.bookContainer {
  width: 100%;
  outline: none;
  border-radius: 10px;
  margin: 10%;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description p {
  margin: 5px 0 0 0;
  visibility: visible;
  font-style: italic;
  color: rgba(128, 128, 128, 0.903);
 
}

.bookContainer:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: rgba(10, 68, 255, 0.2) 0px 7px 29px 0px;
}




#description {
  font-style: italic;
  color: rgba(128, 128, 128, 0.903);
}

.tableItem {
  padding: 5px;
}

.lagerPlatzTableHeader {
  font-weight: 600;
  row-gap: 5px;
  padding: 5px;
}
.lagerPlatzTableHeaderItem {
  padding: 5px;
}

.lagerPlatzTable {
  text-align: left;
}



#bookInformationTable th {
  font-weight: 600;
  padding: 5px;
  text-align: left;
}

#arrowDown {
  animation: alternate-reverse bounce 2s infinite;
  vertical-align: middle;
  width: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: start;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tableContainer table {
  width: 48%;
  /* border: 0.5px solid rgba(0, 0, 0, 0.1); */
}


